In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns
from pandas.api.types import CategoricalDtype
import matplotlib.gridspec as gridspec
from sklearn.impute import KNNImputer  # 결측값 추정에 사용

plt.rcParams['font.family'] = 'Malgun Gothic'  # 한글 폰트 변경
plt.rcParams['axes.unicode_minus'] = False     # 마이너스부호 깨짐 방지

##scikit-learn 깔기

In [2]:
score = pd.Series([30, 20, 40, pd.NA, 30, pd.NA])
score.sum()          # 결측값을 제외하고 계산
score.mean()         # 결측값을 제외하고 계산
score + 5            # 결측값은 산술 연산 안됨
pd.isna(score)       # 결측값인지 여부 확인
pd.isna(score).sum() # 결측값의 개수 확인
score.size           # 값의 개수 (결측값 포함)
score.count()        # 값의 개수 (결측값 제외)
pd.notna(score)          # 결측값이 아닌지 여부 확인
pd.notna(score).sum()    # 결측값이 아닌 값의 개수 확인
score = score.dropna()   # 결측값을 제거
score

score = score.reset_index(drop=True)  # 인덱스 초기화
score

0    30
1    20
2    40
3    30
dtype: object

In [3]:
# 결측값 을 포함하는 데이터프레임 생성

df = pd.read_csv('./data/iris.csv')

df.iloc[0,1] = pd.NA ; df.iloc[0,2] = pd.NA
df.iloc[1,2] = np.nan ; df.iloc[2,3] = None
df.head()

# 결측값의 확인
df.isnull().sum()                # 컬럼별 결측값 확인
df.isnull().sum(axis=1)          # 행별 결측값 확인
df.loc[df.isnull().sum(axis=1)>0,:] # 결측값 행 출력

# 결측값의 제거
df = df.dropna()                 # 결측값 포함행 제거
df = df.reset_index(drop=True)   # 인덱스 초기화
df.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           4.6          3.1           1.5          0.2  setosa
1           5.0          3.6           1.4          0.2  setosa
2           5.4          3.9           1.7          0.4  setosa
3           4.6          3.4           1.4          0.3  setosa
4           5.0          3.4           1.5          0.2  setosa

In [4]:
df_org = pd.read_csv('./data/iris.csv')
df_miss = df_org.copy()

df_miss.iloc[0,3] = pd.NA ; df_miss.iloc[0,2] = pd.NA
df_miss.iloc[1,2] = None ; df_miss.iloc[2,3] = None
df_miss.head(4)

# 결측값 추정
tmp_np = df_miss.iloc[:,:4].to_numpy()        # 넘파이 배열 변환
imputer = KNNImputer(n_neighbors=5)           # 추정모델 정의
tmp_np = imputer.fit_transform(tmp_np)        # 결측값 추정
df_miss.iloc[:,:4] = tmp_np                   # 추정값 -> 결측값

# 추정값의 정확도 확인
df_miss.head(4)
df_org.head(4)

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa