In [1]:
import pandas as pd

# IRIS 데이터셋

## 상대경로 지정
* ```..``` : 상위폴더
* ```.``` : 현재폴더

## 파일 읽기
```이름 = pd.read_csv('경로+파일')```

## 파일 쓰기
```이름.to_csv('경로+파일')```

## 판다스 출력 옵션
* 모든 행을 출력한다. : ```pd.set_option('display.max_row’, None)```
* 모든 열을 출력한다. : ```pd.set_option('display.max_columns', None)```

In [2]:
csv = pd.read_csv('./data/iris.csv')
csv

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [3]:
csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal_Length  150 non-null    float64
 1   Sepal_Width   150 non-null    float64
 2   Petal_Length  150 non-null    float64
 3   Petal_Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB